<br>
<div class="inline-btn">
	<a class="btn-social linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | replace:'index.html','' | prepend: site.url }}&amp;title={{ page.title | escape | replace:' ','%20' }}&amp;source=@{{ site.owner.linkedin }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> Share on LinkedIn</a>
	<a class="btn-social facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Share on Facebook</a>
</div><!-- /.share-this -->