<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <style>
    .sliding-menu-content {
      top: 0;
      right: 0;
      text-align: center;
      visibility: hidden;
      height: 100%;
      width: 100%;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
	}
	
	.ig-thumbnail {
      max-width: 300px;
      height: 200px;
	  object-fit: cover;
	  padding: 5px; 
	}
	
	.inline-gallery-container {
	  height: 646px;
	}
    </style>

    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
	<link href="{{ site.url }}/css/lightbox.css" rel="stylesheet" />
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/lightgallery@2.2.0/css/lightgallery-bundle.min.css" />

    <!-- HTML5 Shiv and Media Query Support for IE -->
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/js/vendor/html5shiv.min.js"></script>
      <script src="{{ site.url }}/js/vendor/respond.min.js"></script>
    <![endif]-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-F12384RJMK"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', '{{ site.owner.google.analytics-id }}');
	</script>
  </head>

  <body>
    {% include header.html %}
    {% include navigation-sliding.html %}
	
	<!-- Must load lightGallery before content so that dynamic use of library is possible. -->
	<script src="https://unpkg.com/lightgallery@2.2.0/lightgallery.min.js"></script>
	
    <div id="page-wrapper">
      {% include browser-upgrade.html %}

      {{ content }}

      {% include footer.html %}
    </div>
	
    <script src="{{ site.url }}/js/vendor/jquery-1.11.0.min.js"></script>
	<script src="{{ site.url }}/js/vendor/lightbox.min.js"></script>
    <script src="{{ site.url }}/js/main.js"></script>
	<script type="text/javascript">
	  lightGallery(document.getElementById('lightgallery'), {
	    getCaptionFromTitleOrAlt: true,
		speed: 1500,
		mode: 'lg-slide',
		cssEasing: 'cubic-bezier(0.250, 0.100, 0.250, 1.000)'
	  });
	  
	  // Set the size of inline gallery container based on the content width allowing for top and bottom padding
	  const lg = document.getElementById('inline-gallery-container');

      // Perform any action just before opening the gallery
      window.addEventListener('load', () => {
        var width = $("#content").width();
		
	    // Resize based on caption height
		lg.addEventListener('lgAfterOpen', () => {
		  var toolbar_height = $("#lg-toolbar lg-group").height();
	      var caption_height = $("#lg-components").height();
	      lg.height((width * 0.6) + (toolbar_height + caption_height)) + "px";
		});
      });
	</script>	
	
    {% if page.toc == true %}
    <script type="text/javascript">
      $('.toc').toc({
        'selectors': 'h2', //elements to use as headings
        'container': '.page-content', //element to find all selectors in
        'smoothScrolling': true, //enable or disable smooth scrolling on click
        'prefix': 'toc', //prefix for anchor tags and class names
        'onHighlight': function(el) {}, //called when a new section is highlighted 
        'highlightOnScroll': true, //add class to heading that is currently in focus
        'highlightOffset': 100, //offset to trigger the next headline
        'anchorName': function(i, heading, prefix) { //custom function for anchor name
          return prefix+i;
        },
        'headerText': function(i, heading, $heading) { //custom function building the header-item text
          return $heading.text();
        },
        'itemClass': function(i, heading, $heading, prefix) { //custom function for item class
          return $heading[0].tagName.toLowerCase();
        }
      });
    </script>
    {% endif %}
	
  </body>

</html>
